@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

header {
  background-color: black;
  margin-top: 50px;
  .logo {
    width: 20%;
  }
  .menu-login {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .icons-login {
      list-style: none;
      .icon {
        a {
          text-decoration: none;
          padding-inline: 7px;
          i {
            color: white;
            font-size: 15px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #ffc311;
            }
          }
        }
      }
      .login-li {
        a {
          margin-left: 15px;
          text-decoration: none;
          color: white;
          font-size: 10px;
          text-transform: uppercase;
          display: inline-block;
          padding: 5px 15px;
          border-radius: 8mm;
          background-color: #ffc311;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 45%;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: rgba(128, 128, 128, 0.136);
          }
          .login {
            margin-right: 5px;
          }
          .sign-up {
            margin-left: 5px;
          }
        }
      }
    }
    .menu {
      list-style: none;
      .menu-li {
        position: relative;
        &:hover {
          .home-ul,
          .about-ul,
          .pages-ul,
          .contact-ul,
          .blog-ul,
          .games-ul {
            opacity: 1;
            visibility: visible;
          }
        }
        .menu-li-a {
          text-decoration: none;
          color: white;
          font-size: 12px;
          display: inline-block;
          padding: 15px;
          margin-left: 5px;
          font-weight: 700;
          transition: 0.4s ease-in-out;
          &:hover {
            color: #ffc311;
          }
          i {
            font-size: 8px;
          }
        }
        .home-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
            }
          }
        }
        .about-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
            }
          }
        }
        .blog-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
              i {
                font-size: 8px;
                margin-left: 5px;
              }
            }
          }
          .blog-ul-li {
            position: relative;
            &:hover {
              .blog-style,
              .review-post,
              .post-style {
                opacity: 1;
                visibility: visible;
              }
            }
            .blog-style {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
            .review-post {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
            .post-style {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
          }
        }
        .games-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 220px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
              i {
                font-size: 8px;
                margin-left: 5px;
              }
            }
          }
          .games-ul-li {
            position: relative;
            &:hover {
              .list-style,
              .game-details,
              .categorized {
                opacity: 1;
                visibility: visible;
              }
            }
            .list-style {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
            .game-details {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
            .categorized {
              list-style: none;
              position: absolute;
              top: -17%;
              left: 100%;
              width: 200px;
              background-color: white;
              margin: 0;
              padding: 0;
              border-top: 2px solid #ffc311;
              box-shadow: 1px 1px 5px black;
              padding-block: 5px;
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease-in-out;
              li {
                border-bottom: 1px solid rgba(128, 128, 128, 0.174);
                &:last-child {
                  border: none;
                }
                a {
                  width: 100%;
                  text-decoration: none;
                  color: black;
                  display: inline-block;
                  padding: 10px 30px;
                  font-size: 14px;
                  transition: 0.4s ease;
                  font-weight: 400;
                  &:hover {
                    color: #ffc311;
                  }
                }
              }
            }
          }
        }
        .pages-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
            }
          }
        }
        .contact-ul {
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          background-color: white;
          margin: 0;
          padding: 0;
          border-top: 2px solid #ffc311;
          box-shadow: 1px 1px 5px black;
          padding-block: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;
          li {
            border-bottom: 1px solid rgba(128, 128, 128, 0.174);
            &:last-child {
              border: none;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 10px 30px;
              font-size: 14px;
              transition: 0.4s ease;
              font-weight: 400;
              &:hover {
                color: #ffc311;
              }
            }
          }
        }
      }
    }
  }
}

.last {
  font-family: "Poppins", sans-serif;
  padding: 3rem 10rem;
  margin-top: 10rem;
  background-color: #111111;
  .begin {
    h4 {
      font-weight: 900;
      margin-bottom: 20px;
      .white {
        color: white;
      }
      .yellow {
        color: #ffc311;
      }
    }
    p {
      color: white;
      font-size: 15px;
      margin-bottom: 40px;
    }
    .bottom-l {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: white;
          display: inline-block;
          margin-bottom: 10px;
          font-size: 15px;
          transition: 0.3s ease-in-out;
          position: relative;
          padding-left: 20px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 35%;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #ffc311;
          }
          &:hover {
            color: #ffc311;
          }
        }
      }
    }
    .bottom-r {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: white;
          display: inline-block;
          margin-bottom: 10px;
          font-size: 15px;
          transition: 0.3s ease-in-out;
          position: relative;
          padding-left: 20px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 35%;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #ffc311;
          }
          &:hover {
            color: #ffc311;
          }
        }
      }
    }
  }
  .mid {
    h4 {
      font-weight: 900;
      margin-bottom: 20px;
      .white {
        color: white;
      }
      .yellow {
        color: #ffc311;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .text {
      .title {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 15px;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #ffc311;
        }
      }
      p {
        font-size: 12px;
        color: white;
        i {
          color: #ffc311;
          margin: 10px 7px 0 5px;
        }
      }
    }
  }
  .end {
    h4 {
      font-weight: 900;
      margin-bottom: 20px;
      .white {
        color: white;
      }
      .yellow {
        color: #ffc311;
      }
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      display: inline-block;
      padding: 15px 20px;
      border: 1px solid rgba(128, 128, 128, 0.522);
      margin-bottom: 20px;
      text-align: left;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: #ffc311;
      }
      i {
        font-size: 25px;
        margin-right: 15px;
      }
    }
  }
}

footer {
  padding: 2rem 10rem;
  background-color: black;
  .left{ 
    width: 40%;
    align-items: baseline;
    .logo {
      img {
        width: 120px;
        height: auto;
      }
    }
    .text {
      color: white;
      font-size: 13px;
      margin-left: 20px;
    }
  }
  .links {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 15px;
        margin-left: 5px;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        font-weight: 600;
        &:hover {
          color: #ffc311;
        }
      }
    }
  }
}