@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  background-color: black;
  margin-top: 50px;
}
header .logo {
  width: 20%;
}
header .menu-login {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .menu-login .icons-login {
  list-style: none;
}
header .menu-login .icons-login .icon a {
  text-decoration: none;
  padding-inline: 7px;
}
header .menu-login .icons-login .icon a i {
  color: white;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
header .menu-login .icons-login .icon a i:hover {
  color: #ffc311;
}
header .menu-login .icons-login .login-li a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8mm;
  background-color: #ffc311;
  position: relative;
}
header .menu-login .icons-login .login-li a::after {
  content: "";
  position: absolute;
  left: 45%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.136);
}
header .menu-login .icons-login .login-li a .login {
  margin-right: 5px;
}
header .menu-login .icons-login .login-li a .sign-up {
  margin-left: 5px;
}
header .menu-login .menu {
  list-style: none;
}
header .menu-login .menu .menu-li {
  position: relative;
}
header .menu-login .menu .menu-li:hover .home-ul,
header .menu-login .menu .menu-li:hover .about-ul,
header .menu-login .menu .menu-li:hover .pages-ul,
header .menu-login .menu .menu-li:hover .contact-ul,
header .menu-login .menu .menu-li:hover .blog-ul,
header .menu-login .menu .menu-li:hover .games-ul {
  opacity: 1;
  visibility: visible;
}
header .menu-login .menu .menu-li .menu-li-a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 15px;
  margin-left: 5px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .menu-li-a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .menu-li-a i {
  font-size: 8px;
}
header .menu-login .menu .menu-li .home-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .home-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .home-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .home-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .home-ul li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .about-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .about-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .about-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .about-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .about-ul li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .blog-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .blog-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .blog-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .blog-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .blog-ul li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .blog-ul li a i {
  font-size: 8px;
  margin-left: 5px;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li {
  position: relative;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li:hover .blog-style,
header .menu-login .menu .menu-li .blog-ul .blog-ul-li:hover .review-post,
header .menu-login .menu .menu-li .blog-ul .blog-ul-li:hover .post-style {
  opacity: 1;
  visibility: visible;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .blog-style {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .blog-style li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .blog-style li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .blog-style li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .blog-style li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .review-post {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .review-post li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .review-post li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .review-post li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .review-post li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .post-style {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .post-style li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .post-style li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .post-style li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .blog-ul .blog-ul-li .post-style li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .games-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .games-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .games-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .games-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .games-ul li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .games-ul li a i {
  font-size: 8px;
  margin-left: 5px;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li {
  position: relative;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li:hover .list-style,
header .menu-login .menu .menu-li .games-ul .games-ul-li:hover .game-details,
header .menu-login .menu .menu-li .games-ul .games-ul-li:hover .categorized {
  opacity: 1;
  visibility: visible;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .list-style {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .list-style li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .list-style li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .list-style li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .list-style li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .game-details {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .game-details li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .game-details li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .game-details li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .game-details li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .categorized {
  list-style: none;
  position: absolute;
  top: -17%;
  left: 100%;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .categorized li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .categorized li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .categorized li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .games-ul .games-ul-li .categorized li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .pages-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .pages-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .pages-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .pages-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .pages-ul li a:hover {
  color: #ffc311;
}
header .menu-login .menu .menu-li .contact-ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffc311;
  box-shadow: 1px 1px 5px black;
  padding-block: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
header .menu-login .menu .menu-li .contact-ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
header .menu-login .menu .menu-li .contact-ul li:last-child {
  border: none;
}
header .menu-login .menu .menu-li .contact-ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  transition: 0.4s ease;
  font-weight: 400;
}
header .menu-login .menu .menu-li .contact-ul li a:hover {
  color: #ffc311;
}

.last {
  font-family: "Poppins", sans-serif;
  padding: 3rem 10rem;
  margin-top: 10rem;
  background-color: #111111;
}
.last .begin h4 {
  font-weight: 900;
  margin-bottom: 20px;
}
.last .begin h4 .white {
  color: white;
}
.last .begin h4 .yellow {
  color: #ffc311;
}
.last .begin p {
  color: white;
  font-size: 15px;
  margin-bottom: 40px;
}
.last .begin .bottom-l {
  list-style: none;
  margin: 0;
  padding: 0;
}
.last .begin .bottom-l li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  position: relative;
  padding-left: 20px;
}
.last .begin .bottom-l li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffc311;
}
.last .begin .bottom-l li a:hover {
  color: #ffc311;
}
.last .begin .bottom-r {
  list-style: none;
}
.last .begin .bottom-r li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  position: relative;
  padding-left: 20px;
}
.last .begin .bottom-r li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffc311;
}
.last .begin .bottom-r li a:hover {
  color: #ffc311;
}
.last .mid h4 {
  font-weight: 900;
  margin-bottom: 20px;
}
.last .mid h4 .white {
  color: white;
}
.last .mid h4 .yellow {
  color: #ffc311;
}
.last .mid img {
  width: 100%;
  height: 100%;
}
.last .mid .text .title {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
.last .mid .text .title:hover {
  color: #ffc311;
}
.last .mid .text p {
  font-size: 12px;
  color: white;
}
.last .mid .text p i {
  color: #ffc311;
  margin: 10px 7px 0 5px;
}
.last .end h4 {
  font-weight: 900;
  margin-bottom: 20px;
}
.last .end h4 .white {
  color: white;
}
.last .end h4 .yellow {
  color: #ffc311;
}
.last .end a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid rgba(128, 128, 128, 0.522);
  margin-bottom: 20px;
  text-align: left;
  transition: 0.3s ease-in-out;
}
.last .end a:hover {
  background-color: #ffc311;
}
.last .end a i {
  font-size: 25px;
  margin-right: 15px;
}

footer {
  padding: 2rem 10rem;
  background-color: black;
}
footer .left {
  width: 40%;
  align-items: baseline;
}
footer .left .logo img {
  width: 120px;
  height: auto;
}
footer .left .text {
  color: white;
  font-size: 13px;
  margin-left: 20px;
}
footer .links {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .links li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 15px;
  margin-left: 5px;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
footer .links li a:hover {
  color: #ffc311;
}/*# sourceMappingURL=style.css.map */